<div class="container">



  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>
          Welcome <%= @goals.first.user.username %>
        </h1>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading">Today's goals</div>


        <% @goals.each do |goal| %>
<h4>
        <li class="list-group-item">

           <div class="btn-group" align="right">
          <a href="/goals/<%= goal.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus fa-fw"></i>
          </a>

          <a href="/goals/<%= goal.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_goal/<%= goal.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>

        </div>
      <%= goal.goaloneliner %>
        </li>
        </h4>
          <% end %>


        </div>
      </div>
      <div class="col-sm-5">
        <div class="panel panel-success">
          <div class="panel-heading">Tomorrow's goals</div>


          <% @goals.each do |goal| %>


          <li class="list-group-item"><%= goal.goaloneliner %></li>




          <% end %>


        </div>
      </div>
      <div class="col-sm-1"></div>

</div>

      <div class="row">
       <div class="col-sm-1"></div>
       <div class="col-sm-10">

        <h2>Notes for tonight's summary email</h2>

        <form>
          <textarea style="width:100%">

          </textarea>

        </form>
        <button type="submit" class="btn btn-primary">Save</button>

      </div>

      <div class="col-sm-1"></div>
    </div>
  </div>


</div>
