<body>

  <body OnLoad="document.quick_add_form.goaloneliner.focus();">

    <div class="container">



      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <h1>
              Welcome <%= current_user.username.capitalize %>
              <a href="/goals/new" class="btn btn-success">Add custom goal</a>
              <a href="/my_board" class="btn btn-primary">Check Board progress</a>
            </h1>
          </div>
        </div>







        <div class="row">

          <div class="col-sm-1"></div>
          <div class="col-sm-10">



            <div class="panel panel-success">  <form action="/quick_add_goal" method="post" class="form-horizontal" name="quick_add_form">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


              <!-- Label and input for goaloneliner -->

              <input type="text" id="goaloneliner" name="goaloneliner" placeholder="Quick-add goal for tomorrow. Hit Enter to submit." class="form-control" value="<%= @new_goal.goaloneliner %>">


            </form></div>
          </div>
          <div class="col-sm-1"></div>
        </div>


        <div class="row">
          <div class="col-sm-12"></div>
        </div>



        <div class="row"><div class="col-sm-1"></div>


        <div class="col-sm-5">
          <div class="panel panel-primary">
            <div class="panel-heading">Today's goals</div>



            <ul class="list-group">

              <% @todays_and_past_goals.each do |goal| %>
              <h4>


<!--
  need to add below: If goal was not modified today or yesterday, then show. or something -->

  <% if goal.complete==true %>


  <% starting_time = DateTime.now.in_time_zone('America/Chicago').beginning_of_day %>
  <% ending_time = DateTime.now.in_time_zone('America/Chicago').end_of_day %>

  <% if (starting_time..ending_time).cover?(goal.updated_at) %>

  <li class="list-group-item">

   <div class="btn-group" align="right">
    <a href="/goals/<%= goal.id %>" class="btn btn-xs btn-primary">
      <i class="fa fa-search-plus fa-fw"></i>
    </a>

    <a href="/goals/<%= goal.id %>/edit" class="btn btn-xs btn-warning">
      <i class="fa fa-edit"></i>
    </a>

    <a href="/delete_goal/<%= goal.id %>" class="btn btn-xs btn-danger" rel="nofollow">
      <i class="fa fa-trash-o"></i>
    </a>
  </div>

  <a href="" class="btn btn-xs btn-default" rel="nofollow">
    Mark Completed
    </a>
    <font color="green"><s><%= goal.goaloneliner %></s></font>

    <% end %>




    <% end %>



    <% if goal.complete!=true %>
    <li class="list-group-item">

     <div class="btn-group" align="right">
      <a href="/goals/<%= goal.id %>" class="btn btn-xs btn-primary">
        <i class="fa fa-search-plus fa-fw"></i>
      </a>

      <a href="/goals/<%= goal.id %>/edit" class="btn btn-xs btn-warning">
        <i class="fa fa-edit"></i>
      </a>

      <a href="/delete_goal/<%= goal.id %>" class="btn btn-xs btn-danger" rel="nofollow">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
    <a href="/complete_goal/<%= goal.id %>" class="btn btn-xs btn-success" rel="nofollow">
      Mark Completed
    </a>


    <% if goal.stretch==true  %>
    (stretch)
    <% end %>

    <% if goal.duedate!=Date.today and goal.complete!=true  %>

    <font color="red"> <%=  goal.goaloneliner %></font>
    <% else %>
    <%=  goal.goaloneliner %>
    <% end %>

  </li>

  <% end %>
</h4>
<% end %>
</ul>
</div>
</div>





<div class="col-sm-5">
  <div class="panel panel-success">
    <div class="panel-heading">Tomorrow's goals</div>


    <% @tomorrows_goals.each do |goal| %>


    <li class="list-group-item">
      <h4>
       <div class="btn-group" align="right">
        <a href="/goals/<%= goal.id %>" class="btn btn-xs btn-primary">
          <i class="fa fa-search-plus fa-fw"></i>
        </a>

        <a href="/goals/<%= goal.id %>/edit" class="btn btn-xs btn-warning">
          <i class="fa fa-edit"></i>
        </a>

        <a href="/delete_goal/<%= goal.id %>" class="btn btn-xs btn-danger" rel="nofollow">
          <i class="fa fa-trash-o"></i>
        </a>

      </div>
      <%= goal.goaloneliner %>
    </li>
  </h4>



  <% end %>


</div>
</div>
<div class="col-sm-1"></div></div>

</div>









<div class="row">
 <div class="col-sm-1"></div>
 <div class="col-sm-10">

  <h2>Add a note for tonight's summary email</h2>

  <form action="/add_note" method="post" name="add_note">

    <!-- Hidden input for authenticity token to protect from forgery -->
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <textarea style="width:100%" id="note" name="note" placeholder="Add a note for today here; it will be included in the summary email sent every night" value="@new_note.note">



    </textarea>
    <button type="submit" class="btn btn-primary">Save</button>

  </form>

</div>

<div class="col-sm-1">

</div>
</div>




<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">


   <h3>Today's notes</h3>


   <% @notes.each do |note| %>
            <% if note.user_id.to_i == current_user.id.to_i  %>
            <% starting_time = DateTime.now.in_time_zone('America/Chicago').beginning_of_day %>
            <% ending_time = DateTime.now.in_time_zone('America/Chicago').end_of_day %>

            <% if (starting_time..ending_time).cover?(note.updated_at) %>

   <li class="list-group-item">
    <h4>
     <div class="btn-group" align="right">
      <a href="/daily_notes/<%= note.id %>" class="btn btn-xs btn-primary">
        <i class="fa fa-search-plus fa-fw"></i>
      </a>

      <a href="/daily_notes/<%= note.id %>/edit" class="btn btn-xs btn-warning">
        <i class="fa fa-edit"></i>
      </a>

      <a href="/delete_daily_note/<%= note.id %>" class="btn btn-xs btn-danger" rel="nofollow">
        <i class="fa fa-trash-o"></i>
      </a>

    </div>
    <%= note.note %>
  </li>
</h4>
<% end %>
<% end %>


<% end %>


</div>


</div>
<div class="col-sm-1"></div>

</div>


</div>

</body>

