<!-- Validation failure messages -->

<% if @goal.errors.any? %>
  <% @goal.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Goal</h3>
      </div>
      <div class="panel-body">
        <form action="/create_goal" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">





          <!-- Label and input for goaloneliner -->
          <div class="form-group">
            <label for="goaloneliner" class="col-sm-2 control-label">
              Goal
            </label>
            <div class="col-sm-10">
              <input type="text" id="goaloneliner" name="goaloneliner" placeholder="Insert Goal Here" class="form-control" value="<%= @goal.goaloneliner %>">
            </div>
          </div>
<!--
          <!-- Label and input for complete
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="complete">
                  <input type="checkbox" id="complete" name="complete" value="1" <%= "checked" if @goal.complete %>>
                  Complete
                </label>
              </div>
            </div>
          </div>
 -->


          <!-- Label and input for duedate -->
          <div class="form-group">
            <label for="duedate" class="col-sm-2 control-label">
              Duedate
            </label>

            <div class="col-sm-10">
             <!--  <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" class="form-control" id="duedate" name="duedate" value="<%= @goal.duedate %>">Today</button>
                <button type="button" class="btn btn-default">Tomorrow</button>
                <button type="button" class="btn btn-default">Day After</button>
              </div> -->

<!--               <input type="date" id="duedate" name="duedate" placeholder="Duedate" class="form-control" value="<%= @goal.duedate %>">
 -->

<div class="form-group">
<div class="radio">
  <label>
    <input type="radio" name="radioDueDate" id="duedate" value="<%= @goal.duedate=Date.today.to_s(:db) %>" checked>
    Today
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="radioDueDate" id="duedate" value="<%= Date.tomorrow %>">
    Tomorrow
  </label>
</div>
</div>

<!-- Label and input for stretch -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="stretch">
                  <input type="checkbox" id="stretch" name="stretch" value="1" <%= "checked" if @goal.stretch %>>
                  Check if this is a stretch goal
                </label>
              </div>
            </div>
          </div>




            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Goal
              </button>
              or
              <a href="/goals">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
